<h2>Deals</h2>

<h4>Add New Project:</h4>
<form name="form" ng-submit="ctrl.processForm()">
    
    <label>Name</label>
    <input name="name" required="required" ng-model="ctrl.newDealName" minlength="3"/>
    <select required="required" ng-model="ctrl.newDealCategory" 
            ng-options="item.id as item.name for item in ctrl.categories">
    </select>

    <button type="submit" class="btn btn-success btn-lg btn-block">
      <span class="glyphicon glyphicon-flash"></span> Add
    </button>
</form>

<br>
<h4>Existing Deals</h4>
<p>Search:</p><input ng-model="ctrl.search" ng-change="ctrl.refilter()" />

<ul>
  <li ng-repeat="deal in ctrl.filteredList">
    <a href="" ui-sref="deal({id: deal.id})">{{ deal.name}} ({{ deal.category }})</a>
  </li>
</ul>